.form-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
  }
  
  .form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #272f47;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .form-container button {
    background-color: #272f47;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #272f47;
  }
  